
body {
	background: url(background.jpg) no-repeat center center fixed;
		background-size: cover;
}



.formu {
	background-color: white;
	padding:30px;
	padding-top:0px;
	padding-bottom :10px;
	border-radius: 10px;
	margin-top: 30px;
}