.btn:focus, .btn:active, button:focus, button:active {
  
  outline: none !important;
  
  box-shadow: none !important;

}



#image-gallery .modal-footer{

  display: block;

}


.thumb{

  margin-top: 15px;

  margin-bottom: 15px;

}

body {
	background: url(backgrounds/pluma_libro.jpg) no-repeat center center fixed;
		background-size: cover;
}



.formu {
	background-color: white;
	padding:30px;
	padding-top:0px;
	padding-bottom :10px;
	border-radius: 10px;
	margin-top: 30px;
}
 	 
.row-principal {
  padding: 35px;
  background-color: white;
  border: 1px solid #DDD;
}